S2T_COOKIE_HEADER=
S2T_BASE_URL=https://speech2text.ru
S2T_ACCEPT_LANGUAGE=ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7
S2T_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36
S2T_JOB_ID=
S2T_AUDIO_FILE_NAME=
S2T_CLIENT_ID=
S2T_BROWSER_EXE=
S2T_REPORTS_ROOT=
