vars {
  base_url: https://speech2text.ru
  accept_language: ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7
  user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36
  cookie_header: ""
  job_id: ""
  audio_file_name: ""
  client_id: ""
}
